:root{
    --main-padding:100px;
    --main-transition:0.3s;
    --color-one:#47B5FF;
    --color-two:#DFF6FF;
    --color-three:#256D85;
    --color-four:#06283D;
    --transparent-color:rgb(15 116 143 / 70%);
}

.container .playlist-videos .videos-list ul{
    scroll-behavior: smooth;
}

.container .playlist-videos .videos-list ul::-webkit-scrollbar,
body::-webkit-scrollbar,
.champ textarea::-webkit-scrollbar{
    width: 6px;
}
.container .playlist-videos .videos-list ul::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.champ textarea::-webkit-scrollbar-thumb{
    background-color: #256D85;
    border-radius: 100px;
}

html{
    scroll-behavior: smooth;
}

body {
	font-family: Inter;
	background-color: #DFF6FF;
}

.container .main-video iframe {
  height: 500px;
  width: 100%;
  border-radius: 8px;
}

.container .playlist-videos .videos-list ul {
	list-style: none;
	padding-left: 0;
	height: 300px;
	overflow: auto;
}

.container .playlist-videos .videos-list ul li {
	padding: 10px;
	border-radius: 4px;
  transition: background-color var(--main-transition) ease;
  cursor: pointer;
}

.container .playlist-videos .videos-list ul li:hover {
	background-color: rgba(37, 109, 133, 0.5);
}

.container .playlist-videos .videos-list i {
	font-size: 20px;
}


@media (max-width: 576px) {
  .container .playlist-videos .videos-list ul li span.video-name {
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container .playlist-videos .videos-list ul li span.video-name {
    width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}



li.selected {
	background-color: #256D85;
	font-weight: 700;
}

.container .playlist-videos {
	padding: 20px;
}

.tooltip-bookmark {
    position: relative;
}

.tooltip-bookmark::after {
  content: "Ajouter au dernier vidéo regardée";
  position: absolute;
  left: -125px;
  top: -7px;
  padding: 0.5rem;
  transform: translate(-50%, 1rem);
  visibility: hidden;
  opacity: 0;
  font-size: 0.875rem;
  white-space: nowrap;
  background: #040404;
  border-radius: 0.25rem;
  transition-property: transform, visibility, opacity;
  transition-duration: 0.35s;
}

.tooltip-bookmark:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.96);
}


/*--------------------------------------------------------------
# ressources Head
--------------------------------------------------------------*/

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: Inter, sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #aaa;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  color: #37423b;
}
/*===================================================*/

.ressources a{
  font-size: 20px;
   background-color: #82CD47;
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: #000;
}

.ressources a:hover{
  transition: .5s ease;
  background-color: #00ABB3;
}

.comments-section .my-comments .etudiant-comment {
  background-color: var(--color-one);
  padding: 8px;
}

.comments-section .my-comments .formateur-comment {
  background-color: #98A8F8;
  padding: 8px;
}

.comments-section .my-comments img {
  width: 50px;
  border-radius: 50%;
}

.comments-section .my-comments .my-name {
  font-weight: 700;
}

.comment-entry textarea:focus {
    transition: 0.2s;
    border-color: #47B5FF !important;
    box-shadow: 0 0 0 0.1rem #47B5FF !important;
}

.comment-entry textarea {
  resize: none;
}

.submit-btn{
    background-color: #fff;
    position: relative;
    padding: 10px 24px;
    border: none;
    color: var(--color-one);
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    box-shadow: 0 0 5px 2px #ddd;
}
.submit-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-one);
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.submit-btn:hover{
    color: #fff;
}
.submit-btn:hover::before{
    width: 100%;
    box-shadow: 0 0 4px 1px var(--color-one);
}


/* =========== To-Top ============*/

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #000;
  background-color: var(--color-one);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  z-index: 999;
  transition: var(--main-transition);
  cursor: pointer;
}

.to-top:hover {
  color: #fff;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
}