/*-------- Preloader --------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999999 !important;
}

[data-loader="circle-side"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite 0.95s linear;
  -moz-animation: circle infinite 0.95s linear;
  -o-animation: circle infinite 0.95s linear;
  animation: circle infinite 0.95s linear;
  border: 2px solid #662d91;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# global rules
--------------------------------------------------------------*/
:root{
    --maha-gradient:linear-gradient(45deg, #ffc107, #ef40ea);
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  background: var(--maha-gradient);
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*      small       */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}

/*      medium       */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/*      large       */
@media (min-width:1220px){
    .container{
        width: 1170px;
    }
}

.container .wrapper{
    padding: 20px;
    width: 540px;
    max-width: 100%;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.logo a img{
    width: 150px;
}

h4 {
    text-align: center;
    margin-bottom: 1rem;
}

h4 ~ p, h4 ~ div {
    margin-bottom: 1rem;
}

.input_error:focus {
    border-color: #e3464c;
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
.form-group i {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    color: #ccc;
}
.form-group label {
    display: inline-block;
    font-weight: 500;
    color:#e34f4f;
    font-size:12px;
    margin-top: 8px;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

input.form-control {
    background: none;
    background-color: #fff;
    width: 100%;
    border: none;
    border-bottom: 2px solid #e8ebed;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #999;
    height: 44px;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 6px 12px 6px 0;
}


input.form-control:focus {
    border-color: #3f9fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #555;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input.input_error:focus {
    border-color: #e3464c;
}

/*-------- Buttons --------*/
a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #121921;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
a.btn_1:hover,
.btn_1:hover {
  background: #662d91;
}
a.btn_1.full-width,
.btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.btn_1:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  
}


/* Timer */
.resent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 1rem;
}

.resent-container span {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

#logout {
  position: fixed;
  right: 5px;
  top: 20px;
}