/*=========== Fonts ==============*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------------------------------
# global rules
--------------------------------------------------------------*/

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}

body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-one);
}
:root{
    --main-padding:100px;
    --main-transition:0.3s;
    --color-one:#47B5FF;
    --color-two:#DFF6FF;
    --color-three:#e8f0fe;
    --error-color:#ee4d4d;
    --color-four:#06283D;
    --transparent-color:#0f748fb3;
}

ul{
    list-style: none;
}

.hide{
    display: none !important;
}

.not-allowed{
    opacity: 0.9 !important;
    cursor: not-allowed !important;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*      small       */
@media (min-width:768px){
    .container{
        width: 750px;
        height: 100vh;
    }
}

/*      medium       */
@media (min-width:992px){
    .container{
        width: 970px;
        height: 100vh;
    }
}

/*      large       */
@media (min-width:1220px){
    .container{
        width: 1170px;
        height: 100vh;
    }
}
.container form{
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px  6px 2px #eee;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
@media (max-width:767px){
    .container form{
        margin-top: 100px;
        margin-bottom: 100px;
        height: fit-content;
        width: 100%;
    }
}
.container form::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8f0fe;
}
/*==================================== Form Header Styling ====================================*/
.container form .prog{
    width: 0;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:var(--color-one);
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.main-form-heading{
    flex-basis: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-heading .logo{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.main-form-heading .logo a{
    color: var(--color-one);
    text-decoration: none;
}
.main-form-heading .logo a span{
    color: var(--color-four);
}
/*/*==================================== Form Body Styling /*====================================*/
.container form .field-container{
    flex-basis: 70%;
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container form .field-container .field-section-slyder{
   display: flex;
   width: 100%;
   height: 100%;
   transition:var(--main-transition);
   -webkit-transition:var(--main-transition);
   -moz-transition:var(--main-transition);
   -ms-transition:var(--main-transition);
   -o-transition:var(--main-transition);
   /* transform: translateX(-200%);
   -webkit-transform: translateX(-200%);
   -moz-transform: translateX(-200%);
   -ms-transform: translateX(-200%);
   -o-transform: translateX(-200%); */
}
.container form .field-container .field-section{
    min-width: 100%;
    min-height: 100%;
    display: flex;
}
@media (max-width:767px){
    .container form .field-container .field-section{
        flex-direction: column;
    }
}
.container form .field-container .field-section .field-box{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:767px){
    .container form .field-container .field-section:not(:nth-child(1)) .field-box:nth-child(1){flex-basis: 30%;}
    .container form .field-container .field-section:not(:nth-child(1)) .field-box:nth-child(2){flex-basis:70%;}
}
.container form .field-container .field-section .field-box .input-field{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:767px){
    .container form .field-container .field-section:nth-child(2) .field-box:nth-child(2) .input-field{
        align-items: flex-end;
    }
}
.container form .field-container .field-section .field-box .input-field label{
    width: 85%;
    color: var(--color-one);
    padding: 10px 15px;
}
.container form .field-container .field-section:not(:nth-child(1)) .field-box .input-field label{width: 98%;}
@media (max-width:767px){
    .container form .field-container .field-section:not(:nth-child(1)) .field-box .input-field label{
        width: 100%;
        text-align: center;
    }
}
.container form .field-container .field-section .field-box .input-field input,
.container form .field-container .field-section .field-box .input-field select,
.container form .field-container .field-section .field-box .input-field textarea{
    outline: none;
    border: none;
    height: 40px;
    text-indent: 15px;
    width: 80%;
    caret-color: var(--color-one);
    background-color: #fafafa;
    border-bottom:2px solid var(--color-one);
    margin: 10px 0;
    color: var(--color-four);
}
.container form .field-container .field-section .field-box .input-field input:focus,
.container form .field-container .field-section .field-box .input-field select:focus,
.container form .field-container .field-section .field-box .input-field textarea:focus{
    border-bottom: 2px solid var(--color-one);
    background-color: #e8f0fe;
}
.container form .field-container .field-section .field-box .input-field .error{
    width: 80%;
    text-align: right;
    color: var(--error-color);
    font-size: 10px;
}
.container form .field-container .field-section .field-box .input-field textarea{
    resize: none;
    padding: 20px 10px;
    height: 220px;
    width: 100%;
}
.container form .field-container .field-section .field-box .input-field .textarea-container{
    position: relative;
    width: 95%;
}
@media (max-width:767px) {
    .container form .field-container .field-section .field-box .input-field .textarea-container,
    .container form .field-container .field-section .field-box .input-field textarea
    {width: 100%;}
}
.container form .field-container .field-section .field-box .input-field .length-textarea{
    position: absolute;
    bottom:12%;
    right:3%;
    color: #06283D;
    font-size: 10px;
}
.container form  .field-box .input-field textarea::-webkit-scrollbar{
    width: 5px;
}
.container form .field-box .input-field textarea::-webkit-scrollbar-thumb{
    background-color: var(--color-one);
}
.container form .field-box .input-field .image-uploader{
    margin-top: 50px;
    width: 220px;
    height: 220px;
    border: 2px dashed var(--color-one);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/addFormationDefaultImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container form .field-box .input-field .image-uploader.for-video{
    background-color: var(--color-three);
    background-image: none;
}
@media (max-width:767px){
    .container form .field-box .input-field .image-uploader{
        width: 100%;
    }
}
.container form .field-box .input-field .image-uploader::before{
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\2b";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-size: 10px;
    visibility: hidden;
    opacity: 0.9;
    color: var(--color-one);
    transform:  translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.container form .field-box .input-field .image-uploader:hover::before{
    visibility: visible;
    font-size: 50px;
}
.container form .field-box .input-field .image-uploader.for-video::before{
    content: "\f0ee";
    visibility: visible;
    opacity: 1;
    font-size: 100px;
}
.container form .field-box .input-field .image-uploader input{
    width: 300px !important;
    height: 300px !important;
    cursor: pointer;
    opacity: 0;
}
.container form .field-box .input-field .image-uploader + .error{
    text-align: center !important;
    margin-top: 10px;
}

.container form .field-box .input-field .uploded-videos{
    width: 100%;
    flex-basis: 80%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    place-items: center;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fafafa;
}
.container form  .field-box .input-field .uploded-videos::-webkit-scrollbar{
    width: 5px;
}
.container form .field-box .input-field .uploded-videos::-webkit-scrollbar-thumb{
    background-color: var(--color-one);
}
.container form .field-box .input-field .uploded-videos .video{
    width: 90%;
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0px 0px  4px 1px #eee;
    border: 1px solid var(--color-one);
    color: var(--color-one);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    z-index: 1;
}
.container form .field-box .input-field .uploded-videos .video::before{
    content: attr(file-title);
    position: absolute;
    top: 50%;
    right: 30%;
    background-color: var(--color-four);
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
}
.container form .field-box .input-field .uploded-videos .video:hover::before{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form .field-box .input-field .uploded-videos .video .video-progress{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-two);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.container form .field-box .input-field .uploded-videos .video i{
    flex-basis: 20%;
    font-size: 20px;
    display: grid;
    place-items: center;
}
.container form .field-box .input-field .uploded-videos .video i:last-child{
    color: var(--color-four);
    font-size: 22px;
    text-align: end;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.container form .field-box .input-field .uploded-videos .video i:last-child:hover{
    opacity: 0.7;
}
.container form .field-box .input-field .uploded-videos .video .title{
    flex-basis: 60%;
    max-height: 100%;
    font-size: 13px;
    color: var(--color-four);
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*/*==================================== Form Footer Styling /*====================================*/
.container form  .form-buttons{
    flex-basis: 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container form  .form-buttons button{
    width: 130px;
    cursor: pointer;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px  6px 2px #eee;
    font-size: 14.5px;
    border: none;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
    transition-delay: 0.1;
}
@media (max-width:767px){
    .container form  .form-buttons button{
        width: 100px;
    }
}
.container form  .form-buttons button.prev{color: var(--error-color);}
.container form  .form-buttons button.next{color: var(--color-one);}
.container form  .form-buttons button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.container form  .form-buttons button:hover{color: #fff;}
.container form  .form-buttons button:hover::before{width: 100%;}
.container form  .form-buttons button.prev:hover::before{
    background-color: var(--error-color);
    box-shadow: 0px 0px  6px 2px var(--error-color);
}
.container form  .form-buttons button.next:hover::before{
    background-color: var(--color-one);
    box-shadow: 0px 0px  4px 1px var(--color-one);
}