@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-padding: 100px;
  --main-transition: 0.3s;
  --color-one: #47b5ff;
  --color-two: #dff6ff;
  --color-three: #256d85;
  --color-four: #06283d;
  --transparent-color: rgb(15 116 143 / 70%);
}

.container .playlist-videos .videos-list ul {
  scroll-behavior: smooth;
}

.container .playlist-videos .videos-list ul::-webkit-scrollbar,
body::-webkit-scrollbar,
.champ textarea::-webkit-scrollbar {
  width: 6px;
}
.container .playlist-videos .videos-list ul::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.champ textarea::-webkit-scrollbar-thumb {
  background-color: #256d85;
  border-radius: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  background-color: #dff6ff;
}

/*======================*/

.media-header img {
  height: 250px;
  width: 100%;
  box-shadow: 0 0 2px 2px #000;
  object-fit: cover;
}

.media-header .title {
  font-weight: 500;
}

.media-header .group span {
  color: #fff;
  padding: 4px 10px;
  border-radius: 15px;
  background-color: var(--color-three);
}

.media-header .group .formateur-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--color-four);
}

.media-header .group .specialite {
  color: #256d85;
}

.media-header .group .masse-h {
  color: var(--color-four);
}

.media-header .info-plus > div {
  padding: 10px 0;
  border-radius: 8px;
  background-color: rgba(37, 109, 133, 0.5);
}

.media-header .group {
  padding: 10px 20px;
  background-color: #313f87f0;
  height: 100%;
  border-radius: 8px;
}

.media-header .group .instructor {
  padding: 6px 15px;
  border-radius: 10px;
  background-color: #8192e7f0;
}

.media-header .group .love-ses-formations a {
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
}

.media-header .group .love-ses-formations a:hover {
  background-color: #256d85;
  transition: var(--main-transition);
  background-color: #000;
  border: 1px solid #000;
}

.media-header .group .love-ses-formations i {
  font-size: 25px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.media-header .info-plus p {
  margin-bottom: 0;
}

.media-header .info-plus .nbr {
  font-weight: 800;
}

/* Heart */

.group .instructor .love-ses-formations i {
  transition: color var(--main-transition);
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 1200px) {
  .media-header img {
    width: 100%;
    margin-bottom: 5px;
  }

  .group {
    margin-top: 1rem;
  }

  .media-header .video-preview video {
    width: 100%;
  }

  .media-header .info-plus .apprenants-nbr {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .media-header .group > div {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* ======================= */
.container .playlist-videos .videos-list ul {
  list-style: none;
  padding-left: 0;
  height: 300px;
  overflow: auto;
}

.container .playlist-videos .videos-list ul li {
  padding: 10px;
  border-radius: 4px;
  transition: background-color var(--main-transition) ease;
  cursor: pointer;
  background-color: #abd5ef;
}

.container .playlist-videos .videos-list ul li:not(.selected):hover {
  background-color: rgba(37, 109, 133, 0.5);
}

.container .playlist-videos .videos-list i {
  font-size: 20px;
}

.container .playlist-videos .videos-list i:not(.fa-solid):hover {
  color: #1d1ce5;
}

@media (max-width: 576px) {
  .container .playlist-videos .videos-list ul li span.video-name {
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container .playlist-videos .videos-list ul li span.video-name {
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

li.selected {
  background-color: #256d85;
  font-weight: 600;
}

.container .playlist-videos {
  padding: 20px;
}

.tooltip-bookmark,
.tooltip-circle-check {
  position: relative;
}

.tooltip-bookmark::after,
.tooltip-circle-check::after {
  position: absolute;
  padding: 0.5rem;
  transform: translate(-50%, 1rem);
  visibility: hidden;
  opacity: 0;
  font-size: 0.875rem;
  white-space: nowrap;
  background: #040404;
  border-radius: 0.25rem;
  transition-property: transform, visibility, opacity;
  transition-duration: 0.35s;
}

.tooltip-bookmark::after {
  content: "Ajouter aux favoris";
  left: -125px;
  top: -7px;
}

.tooltip-circle-check::after {
  content: "Marquer comme vu";
  left: -80px;
  top: -7px;
}

.tooltip-bookmark:hover::after,
.tooltip-circle-check:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.96);
}

/*--------------------------------------------------------------
# ressources Head
--------------------------------------------------------------*/

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: Inter, sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #aaa;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  color: #37423b;
}
/*===================================================*/

.ressources a {
  font-size: 20px;
  text-decoration: none;
}

.comments-section .my-comments .etudiant-comment {
  background-color: var(--color-one);
  padding: 8px;
  border-radius: 0 10px 10px 10px;
}

.comments-section .my-comments .formateur-comment {
  background-color: #98a8f8;
  padding: 8px;
  border-radius: 10px 0 10px 10px;
}

.comments-section .my-comments img {
  width: 50px;
  border-radius: 50%;
}

.comments-section .my-comments .my-name {
  font-weight: 700;
}

.comment-entry textarea:focus {
  transition: 0.2s;
  border-color: #47b5ff !important;
  box-shadow: 0 0 0 0.1rem #47b5ff !important;
}

.comment-entry textarea {
  resize: none;
  height: 44px;
}

.submit-btn {
  background-color: #fff;
  position: relative;
  padding: 10px 24px;
  border: none;
  color: var(--color-one);
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  box-shadow: 0 0 5px 2px #ddd;
}
.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-one);
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.submit-btn:hover {
  color: #fff;
}
.submit-btn:hover::before {
  width: 100%;
  box-shadow: 0 0 4px 1px var(--color-one);
}

/* =========== To-Top ============*/

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #000;
  background-color: var(--color-one);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  z-index: 999;
  transition: var(--main-transition);
  cursor: pointer;
}

.to-top:hover {
  color: #fff;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
}
