/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.rounded-corner {
  border-radius: 10px;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1;
  transition: color 0.2s;
}

.search-overlay-menu-btn:hover .fa-magnifying-glass {
  color: #ffc107;
}

.search-overlay-menu-btn {
  cursor: pointer;
}

.categories {
  background-color: #FFC107;
  transition: background-color 0.3s;
}

.categories a {
  color: #580a48;
  transition: color 0.3s;
}

.categories:hover a {
  color: rgb(239,64,234);
}

.categories:hover {
  background-color: #ae3e48;
}