/*=========== Fonts ==============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*--------------------------------------------------------------
# global rules
--------------------------------------------------------------*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


:root{
    --main-padding:100px;
    --main-transition:0.3s;
    --color-one:#47B5FF;
    --color-two:#DFF6FF;
    --color-three:#467da7;
    --color-four:#06283D;
    --transparent-color:rgb(15 116 143 / 70%);
}

body{
    font-family: Inter, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0d4fc;
}

.main-form-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-heading .logo{
    font-size: 40px;
    margin-bottom: 10px;
}
.main-form-heading .logo a.l{
    color: #ff6584;
    text-decoration: none;
}
.main-form-heading .logo a.l span{
    color: var(--color-one);
}




.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #94c0fb;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container .form{
    padding: 30px;
    background-color: #94c0fb;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}


.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    /* margin-bottom: 25px; */
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #2d88ff;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    border-radius: 2px;
    background-color: #b6d6ff;
}

.input-field input:is(:focus){
    border-bottom-color: #182d8a;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
    padding-right: 5px;
    padding-left: 5px;
}

.input-field input:is(:focus) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}

.input-field i#togglePassword{
    right: 0;
    cursor: pointer;
    padding: -10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.checkbox-text .checkbox-contenet{
    display: flex;
    align-items: center;
}

.checkbox-contenet input{
    margin: 0 8px -2px 4px;
    accent-color: #47B5FF;
}

.form .text{
    color: #333;
    font-size: 14px;

}

.form a.text{
    text-decoration: none;
    color: #182d8a;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #313f87f0;
    cursor: pointer;
}

.form .button input:hover{
    color: #fff;
    background-color: #ff6584;
    box-shadow: 0 0 4px 1px #ddd;
}

.form .login-signup{
    margin-top: 20px;
    text-align: center;
}
.form .field{
    margin-top: 10px;
}

form .field .error {
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
    color: #ec6969;
    
}
