/*=========== Fonts ==============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*--------------------------------------------------------------
# global rules
--------------------------------------------------------------*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --main-padding:100px;
    --main-transition:0.3s;
    --color-one:#ffc107;
    --color-two:#ef40ea;
    --color-three:#aaa;
    --color-four:#06283D;
    --transparent-color:#392779cc;
    --maha-gradient:linear-gradient(45deg, #ffc107, #ef40ea);
}

body{
    font-family: Inter, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--maha-gradient);
}

.hide{
    display: none !important;
}

/* Register Type */
.maha-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-type h3{
    text-transform: uppercase;
    background: var(--maha-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login-type sup{
    font-size: 10px;
}
.login-type button{
    border: none;
    outline: none;
    width: 80%;
    margin: auto;
    height: 45px;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    border-radius: 3px;
    color: #fff;
    background: var(--maha-gradient);
    font-size: 20px;
    transition: 0.3s;
}
.login-type button:hover{
    transform: translateY(-5px);
}
.login-type button.facebook{background: #1877f2;}
.login-type button.google{background: #dd4b39;}
.login-type button i{
    font-size: 25px;
    margin-right: 50px;
}
@media (max-width:767px) {
    .login-type button i{
        margin-right: 20px;
    }
}
.connection-error{
    color: red;
}

/* Normal Fields */
.main-form-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-heading .logo{
    font-size: 40px;
    margin-bottom: 10px;
}
.main-form-heading .logo a img{
    width: 150px;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container .form{
    padding: 30px;
    background-color: #fff;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}


.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 5px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid var(--color-one);
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    border-radius: 2px;
    background-color: #ffc10722;
}

.input-field input:is(:focus){
    border-bottom-color: var(--color-two);
    background-color: #ef40ea22;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-one);
    font-size: 23px;
    transition: all 0.2s ease;
    padding-right: 5px;
    padding-left: 5px;
}

.input-field input:is(:focus) ~ i{
    color: var(--color-two);
}

.input-field i.icon{
    left: 0;
}

.input-field i#togglePassword{
    right: 0;
    cursor: pointer;
    padding: -10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
}

.checkbox-text .checkbox-contenet{
    display: flex;
    align-items: center;
}

.checkbox-contenet input{
    margin: 0 8px -2px 4px;
    accent-color: #47B5FF;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    text-decoration: none;
    color: #ffc107;
}

.form a:hover{
    text-decoration: underline;
    color: var(--color-two);
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--color-one);
    cursor: pointer;
}

.form .button input:hover{
    color: #fff;
    background-color: var(--color-two);
    box-shadow: 0 0 4px 1px #ddd;
}

.form .login-signup{
    margin-top: 20px;
    text-align: center;
}
.form .field{
    margin-top: 10px;
}

form .field .error {
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
    color: #ec6969;
    
}
