:root{
    --main-padding:100px;
    --main-transition:0.3s;
    --color-one:#47B5FF;
    --color-two:#DFF6FF;
    --color-three:#256D85;
    --color-four:#06283D;
    --transparent-color:rgb(15 116 143 / 70%);
}
/* ----------   Start Page Formations    ------------ */
.pageFormation{
    margin: 0 !important;
    padding: 0 !important;
}
/* strat filter */
.pageFormation .filter{
    width: 100%;
    padding: 100px 20px 50px;
    /* position: relative; */
}
.pageFormation .filter .bF-res{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageFormation .filter .resultat{
    display: flex;
    align-items: baseline;
}
.pageFormation .filter p{
    font-size: 30px;
    color: #2b2b2b;
    padding: 5px;
    font-weight: 600;
}
.pageFormation .filter h2{
    font-size: 30px;
    color: var(--color-four);
    padding: 5px;
    padding-left: 15px;
    font-weight: 600;
}
.pageFormation .filter .main-filter{
    width: 150px;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--color-four);
    font-size: 30px;
    color: var(--color-four);
    transition: 0.5s;
    cursor: pointer;
    margin-right: 20px;
}
.pageFormation .filter .main-filter:hover{
    color: white;
    background-color: var(--color-four);
}
.pageFormation .filter .filter-par{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--color-four);
    transition: 0.5s;
}
.pageFormation .filter .filter-par span{
    font-size: 20px;
    width: 150px;
    text-align: center;
    display: block;
    color: var(--color-four);
}
.pageFormation .filter .filter-par .flt-par{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.pageFormation .filter .filter-par .flt-par>div{
    width: 120px;
}
.pageFormation .filter .filter-par select{
    font-size: 18px;
    color: var(--color-four);
    padding: 5px;
    border: none;
}
.pageFormation .filter .filter-par option{
    font-size: 18px;
    color: var(--color-four);
    padding: 5px;
    transition: 0.5s;
}
.pageFormation .filter ul{
    background-color: #fff;
    box-shadow: 0 0 2px #777;
    width: 40%;
    margin-top: 10px;
    padding: 0 !important;
    position: absolute;
    z-index: 1;
    display: block;
}
.pageFormation .filter ul.ops{
    right: 0;
    top: 60px;
}
.pageFormation .filter ul li{
    width: 100%; 
    font-size: 18px;
    color: var(--color-one);
    padding: 10px 0 10px 20px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.pageFormation .filter ul li.at-ops{
    padding: 0;
    margin: 0;
}
.pageFormation .filter ul li:not(li.at-ops):hover{
    background-color: #eee;
}
.pageFormation .filter ul.ops li i{
    margin-right: 20px;
}
.pageFormation .filter ul.ops li i.fa-chevron-right{
    position: absolute;
    right: 10px;
}
.pageFormation .filter ul:not(ul.ops){
    position: absolute;
    left: -200px;
    top: -55px;
    width: 200px;
}
@media (max-width:767px){
    .pageFormation .filter .filter-par{
        /* width: 300px; */
        height: fit-content;
    }
    .pageFormation{
        position: relative;
    }
    .pageFormation .filter ul.ops{
        position: absolute;
        width: 250px;
        right: 0;
        top: 60px;
    }
    .pageFormation .filter ul:not(ul.ops){
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    .pageFormation .filter ul li{
        font-size: 14px;
    }
}
@media (max-width:480px){
    .pageFormation{
        width: 100vh;
        position: relative;
    }
    #footer{
        width: 100vh;
    }
}
/* .pageFormation .container{} */
/* strat end */
.pageFormation .container .aucunF{
    margin: 100px 0;
    font-size: 42px;
    color: var(--color-four);
    font-weight: bold;
}
.pageFormation .container .formations{
    position: relative;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    text-align: center;
}
/* start card courses */
.pageFormation .container .formations .card_coures{
    border-radius: 10px;
    box-shadow: 0 0 6px var(--color-numb-1);
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.pageFormation .container .formations .card_coures:hover{ 
   transform: translateY(-5px);
   box-shadow: 0 0 6px var(--color-numb-1),
               0 0 8px var(--color-numb-1);
}

.pageFormation .container .formations .card_coures .img{
    width: 100%;
    position: relative;
    transition: 1.5s;
}
.pageFormation .container .formations .card_coures .img img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pageFormation .container .formations .card_coures .img .duree{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
    display: flex;
    display: none;
    align-items: center;
}
.pageFormation .container .formations .card_coures .img .duree i{
    color: white;
    font-weight: 600;
    opacity: 80%;
}
.pageFormation .container .formations .card_coures .img .duree .time{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    opacity: 80%;
}
.pageFormation .container .formations .card_coures .img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 30%;
    z-index: 2;
    transition: 1.5s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pageFormation .container .formations .card_coures .img:hover::after{
    width: 100%;
    height: 100%;
}
.pageFormation .container .formations .card_coures .img:hover .duree{
    display: flex;
}
.pageFormation .container .formations .card_coures .info_formation{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageFormation .container .formations .card_coures .info_formation .categorie{
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: var(--color-numb-4);
    border-radius: 3px;
}
.pageFormation .container .formations .card_coures .info_formation .prix{
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 600;
    position: relative;
}
.pageFormation .container .formations .card_coures .info_formation .prix::before{
    content: "$";
    position: absolute;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 600;
    left: -12px;
    top: 0;
}
.pageFormation .container .formations .card_coures h1{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-numb-3);
    padding: 0 15px 10px 15px;
}
.pageFormation .container .formations .card_coures .description{
    padding: 0 15px 0;
    height: 50px;
}
.pageFormation .container .formations .card_coures .description p{
    font-size: 15px;
    color: #aaa;
    line-height: 1.2;  
    font-weight: 400;
    overflow: hidden;
}
.pageFormation .container .formations .card_coures .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 15px;
}
.pageFormation .container .formations .card_coures .footer .formateur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.pageFormation .container .formations .card_coures .footer .formateur .img_formateur{
    flex-basis: 20%;
    border-radius: 50%;
}
.pageFormation .container .formations .card_coures .footer .formateur .img_formateur img{
    width: 100%;
    border-radius: 50%;
}
.pageFormation .container .formations .card_coures .footer .formateur h2{
    flex-basis: 70%;
    font-size: 16px;
    color: var(--color-numb-1);
}
.pageFormation .container .formations .card_coures .footer .info{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    height: fit-content;
}
.pageFormation .container .formations .card_coures .footer .info .etd{
    flex-basis: 20%;
    font-size: 16px;
    margin-right: 5px;
}
.pageFormation .container .formations .card_coures .footer .info .likes{
    flex-basis: 20%;
    font-size: 16px;
    margin-right: 5px;
}
.pageFormation .container .formations .card_coures .footer .info i{
    flex-basis: 20%;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
/* end card courses */
/* start footer page formations */
#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#pagination ul li {
    color: #fff;
    display: flex;
}
#pagination ul li a {
    background-color: var(--color-four);
    padding: 5px 10px;
    border: 2px solid var(--color-three);
    border-right: 0;
}
#pagination ul li.active a {
    background-color: var(--color-one);
}
#pagination ul li:first-child a {
    border-radius: 5px 0 0 5px;
}
#pagination ul li:last-child a {
    border-radius: 0 5px 5px 0;
    border-right: 2px solid #3d315b;
}
#pagination ul li a:hover {
    cursor: pointer;
}
/* end footer page formations */
/* ----------   End Page Formations    ------------ */
