body {
	font-family: Inter;
}

.go-back {
	background-color: #e5e7eb;
	padding: 3rem 1rem;
	cursor: pointer;
	transition: background-color 0.5s;
}

.go-back:hover {
	background-color: #bec0c5;
}

main h1 {
	font-weight: 800;
	font-size: 1.5rem;
}

main .video {
	background-color: #B4CDE6;
}

main span.edit {
	background-color: blue;
}

main span.delete {
	background-color: red;
}

@media (768px <= width <= 992px) {
	.label-btn {
		display: none;
	}
}
