body {
  font-family: Inter;
}

.go-back {
  background-color: #ff6584;
  padding: 3rem 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.go-back:hover {
  background-color: #ff6584ba;
}

main h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

main .video {
  background-color: #1d308a;
}

main span.edit {
  background-color: blue;
}

main span.delete {
  background-color: red;
}

@media (768px <= width <= 992px) {
  .label-btn {
    display: none;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: #ff6584;
}

.avatar-formateur {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.miniature {
  width: 400px;
  height: 250px;
  object-fit: cover;
}
